# Copy desired variables to your own .env file.
# Run `docker-compose config` to see how Docker Compose evaluates these.

WEB_PORT=80
WEBSECURE_PORT=443
BASE_URI=https://localhost/
# External hostname: e.g localhost, mysite.localhost, etc.
HOSTNAME=localhost

DATABASE_PORT=3306

BLACKFIRE_SERVER_ID=
BLACKFIRE_SERVER_TOKEN=
PHP_VERSION="8.1"

CHROME_PORT=4444

# PHPUnit
BROWSERTEST_OUTPUT_BASE_URL=$BASE_URI
SYMFONY_DEPRECATIONS_HELPER="disabled"

BROWSERTEST_OUTPUT_DIRECTORY="app/sites/default/files"
BROWSERTEST_OUTPUT_FILE="app/test-output.html"

MINK_DRIVER_CLASS=""
MINK_DRIVER_ARGS='["chrome", { "chromeOptions": { "w3c": false } }, "http://selenium:4444/wd/hub"]'
MINK_DRIVER_ARGS_WEBDRIVER='["chrome", {"browserName":"chrome","chromeOptions":{"args":["--disable-gpu","--headless","--no-sandbox", "--disable-dev-shm-usage"], "w3c": false}}, "http://selenium:4444/wd/hub"]'
SIMPLETEST_DB="mysql://local:local@db/local"
SIMPLETEST_BASE_URL=http://nginx:8080
