<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        bootstrap="./tests/bootstrap.php"
        cacheResult="false"
        colors="true"
        failOnWarning="true"
        printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <!-- Allow code to execute conditionally by whether executor is PHPUnit -->
    <const name="BOOTSTRAP_IS_PHPUNIT" value="true"/>
  </php>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener" />
  </listeners>
</phpunit>
