<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutChangesToGlobalState="true"
        bootstrap="app/core/tests/bootstrap.php"
        cacheResult="false"
        colors="true"
        failOnWarning="true"
        printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">

  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <!-- Allow code to execute conditionally by whether executor is PHPUnit -->
    <const name="BOOTSTRAP_IS_PHPUNIT" value="true"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>

    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="app/sites/default/files"/>
    <env name="BROWSERTEST_OUTPUT_FILE" value="app/test-output.html"/>

    <env name="MINK_DRIVER_CLASS" value=""/>
    <env name="MINK_DRIVER_ARGS" value=""/>
    <env name="MINK_DRIVER_ARGS" value='["chrome", { "chromeOptions": { "w3c": false } }, "http://selenium:4444/wd/hub"]'/>
    <env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["chrome", {"browserName":"chrome","chromeOptions":{"args":["--disable-gpu","--headless","--no-sandbox", "--disable-dev-shm-usage"], "w3c": false}}, "http://selenium:4444/wd/hub"]'/>
    <env name="SIMPLETEST_DB" value="mysql://local:local@db/local"/>
    <env name="SIMPLETEST_BASE_URL" value="http://nginx:8080"/>
  </php>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener" />
  </listeners>
</phpunit>
